
{{#bs-modal open=showdialog backdropClose=false onHidden=(action "onHidden") as |modal|}}
	{{#modal.header}}
        <h4 class="modal-title">
            Add new {{typeTitle}}
			{{#if rule}}
                from {{rule.description}}
			{{/if}}

        </h4>
	{{/modal.header}}
	{{#modal.body}}

        <div>
            Name
        </div>
        <div>
			{{input name="Id" type="text"  class="form-control"  autofocus="autofocus" value=description}}
        </div>

        <div>
            Base:
			{{#power-select
			options=bases
			onchange=(action "setBase")
			selected=base
			renderInPlace=true
			as |baseChoice|}}
				{{baseChoice.id}}
			{{/power-select}}
        </div>

		{{yield}}

	{{/modal.body}}
	{{#modal.footer}}
		{{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}

		{{#bs-button type="success" onClick=(action  "addRule") disabled=invalid}}Continue{{/bs-button}}


	{{/modal.footer}}
{{/bs-modal}}


