
{{#bs-modal open=showdialog backdropClose=false onHidden=(action "onHidden") as |modal|}}
	{{#modal.header}}
        <h4 class="modal-title">
			Add new file to load
			{{#if ruleset}}
				from
				{{#if ruleset.name}}
					{{ruleset.name}}
				{{else}}
					{{ruleset.filename}}
				{{/if}}

			{{/if}}

        </h4>
	{{/modal.header}}
	{{#modal.body}}

		<div>
			Parser:
			{{#power-select
			options=parsers
			onchange=(action (mut parser))
			selected=parser
			allowClear=true
			renderInPlace=true
			as |parserChoice|}}
				{{parserChoice.title}}
			{{/power-select}}
		</div>

		<div>
            Download from
			{{#power-select
			options=defaultSources
			search=(action "searchSource")
			onchange=(action "setSource")
			selected=source
			allowClear=true
			renderInPlace=true
			as |sourceChoice|}}
				{{sourceChoice.description}}
			{{/power-select}}
		</div>

		{{#if source}}
			<div class="add-ruleset-property-block">
				{{component 'custom-property.property-list' uiList=source.ui.properties config=sourceConfig
				validators=source.validators state=errorStates instanceName="source" validateOnInit=true}}
			</div>
		{{/if}}


		{{#unless source.config.linkedtargetid}}
			<div>
                Upload to
				{{#power-select
				options=defaultTargets
				search=(action "searchTarget")
				onchange=(action "setTarget")
				selected=target
				allowClear=true
				renderInPlace=true
				as |targetChoice|}}
					{{targetChoice.description}}
				{{/power-select}}
            </div>

			{{#if target}}
                <div class="add-ruleset-property-block">
                    {{component 'custom-property.property-list' uiList=target.ui.properties config=targetConfig
					validators=target.validators state=errorStates instanceName="target" validateOnInit=true}}
                </div>
			{{/if}}

		{{/unless}}


		<div>
			Group Owner
			{{#power-select
			options=defaultAuthGroups
			selected=authGroup
			onchange=(action (mut authGroup))
			allowClear=true
			renderInPlace=true
			as |authGroup|
			}}
				{{authGroup.group}}
			{{/power-select}}
		</div>

		{{yield}}

	{{/modal.body}}
	{{#modal.footer}}
		{{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}

		{{#bs-dropdown as |dd|}}
			{{#bs-button type="success" onClick=(action  "addRuleset" "true") disabled=invalid}}Continue{{/bs-button}}
			{{#dd.button type="success"}}<span class="caret"></span>{{/dd.button}}
			{{#dd.menu as |menudrops|}}
				{{#menudrops.item}}
					{{#bs-button type="danger" onClick=(action  "addRuleset" "false") disabled=invalid}}Continue without validation{{/bs-button}}
				{{/menudrops.item}}
			{{/dd.menu}}
		{{/bs-dropdown}}


	{{/modal.footer}}
{{/bs-modal}}


