<div style="display: flex;">
    <div class="column">
		<div>

			{{#if passed}}
                <i class="fa fa-thumbs-up good-color"></i>
				<span class="good-color run-bold-text">
					Passed
				</span>
			{{else if failed}}
                <i class="fa fa-thumbs-down error-color"></i>
                <span class="error-color run-bold-text">
					Failed
				</span>
			{{else}}
                <span class="run-bold-text">
					Not validated
				</span>
			{{/if}}

			{{errorTypesString}}

			{{#if model.run.summary.exported}}
				{{#if model.run.summary.target}}
                    and uploaded as
					{{model.run.summary.targetFile}} in {{model.run.summary.target}}
				{{else}}
					and exported via {{model.ruleset.export.filename}}
				{{/if}}
			{{else}}
				and not uploaded
			{{/if}}

		</div>
		<div>
			<span class="run-bold-text">Start:</span>
			{{moment-format model.run.starttime 'MMMM Do YYYY, h:mm:ss a'}}
		</div>
        <div>
            <span class="run-bold-text">Finish:</span>
			{{moment-format model.run.time 'MMMM Do YYYY, h:mm:ss a'}}
        </div>
		<div class="run-section-break" />
		<div>
			Validated {{model.run.summary.processeditems}} {{if (eq model.run.summary.processeditems 1) "item" "items"}}
		</div>
        <div>
            Output {{model.run.summary.outputitems}} {{if (eq model.run.summary.outputitems 1) "item" "items"}}
        </div>
        <div id="errorTypes">
			<div id="errorTypeError" {{action "toggleErrorType" "errorTypeError" "Error"}}
                 class="rule-selectable {{if (eq type 'Error') 'selected'}}">
				<i class="fa fa-exclamation-triangle error-color"></i>
				{{model.run.errorcount}} {{if (eq model.run.errorcount 1) "Error" "Errors"}}
			</div>
			<div id="errorTypeDropped" {{action "toggleErrorType" "errorTypeDropped" "Dropped"}}
                 class="rule-selectable {{if (eq type 'Dropped') 'selected'}}">
				<i class="fa fa-ban warning-color"></i>
				Removed {{model.run.droppedcount}} {{if (eq model.run.droppedcount 1) "item" "items"}}
			</div>
			<div id="errorTypeWarning" {{action "toggleErrorType" "errorTypeWarning" "Warning"}}
                 class="rule-selectable {{if (eq type 'Warning') 'selected'}}">
				<i class="fa fa-exclamation-triangle warning-color"></i>
				{{model.run.warningcount}} {{if (eq model.run.warningcount 1) "Warning" "Warnings"}}
			</div>
		</div>
        <div class="run-section-break" />
		<div id="rulesTable" class="section-content">
			{{#each ruleData as |ruleInstance index|}}
                <div id="{{concat 'rulesetTableRow' index}}" {{action "toggleRowHighlight" (concat 'rulesetTableRow' index) ruleInstance}}
                     class="rule-selectable {{if ruleInstance.selected 'selected'}}">
                    <span  class="run-bold-text">{{ruleInstance.name}}</span>
                    <span class="run-rule-header-count"><i class="fa fa-exclamation-triangle error-color"></i>{{ruleInstance.errorcount}}</span>
                    <span class="run-rule-header-count"><i class="fa fa-ban warning-color"></i>{{ruleInstance.droppedcount}}</span>
                    <span class="run-rule-header-count"><i class="fa fa-exclamation-triangle warning-color"></i>{{ruleInstance.warningcount}}</span>

                </div>
			{{/each}}
		</div>


    </div>
    <div class="column">
        <!-- The column for showing rule errors. -->
        <div class="section-header">{{errorTitle}}:</div>

		{{show-errors errors=errors}}
		<div>
			{{show-paginator pages=totalPages current=page  inc=(action 'incPage') dec=(action 'decPage') tagName='span'}}
			<span style="float: right">
				{{#bs-button size="xs" onClick=(action "resetType")}}Show All{{/bs-button}}
			</span>

		</div>

    </div>
</div>
{{yeild}}