<div style="display: flex;">
    <div class="column">
        <div class="section-header">Input Filename</div>
        <div class="section-content">{{model.run.inputfilename}}</div>
        <div class="section-header">Ruleset</div>
        <div class="section-content">{{model.ruleset.filename}}</div>
        <div class="section-content">Description: {{model.ruleset.name}}</div>
        <div class="section-header">Rules</div>
        <table id="rulesTable" class="ruleset-table">
			{{#each ruleData as |ruleInstance index|}}
                <tr id="{{concat 'rulesetTableRow' index}}" {{action "toggleRowHighlight" (concat 'rulesetTableRow' index) ruleInstance}}
                    class="rule-selectable">
                    <td class="icon-cell">
                        {{#error-icon runcounts=ruleInstance}}{{/error-icon}}
                    </td>
                    <td>{{ruleInstance.name}}</td>
                </tr>
			{{/each}}
        </table>

    </div>
    <div class="column">
        <!-- The column for showing rule errors. -->
        <div class="section-header">{{errorTitle}}:</div>

		{{show-errors errors=errors}}
		{{show-paginator pages=totalPages current=page  inc=(action 'incPage') dec=(action 'decPage')}}
    </div>
</div>
{{yeild}}