<div class="rule-selectable ruleset-rule-selectable" {{action "toggleCollapse"}} style="display: flex; align-items: center">
	<span class="section-header">
		{{yield (hash title = (component 'edit-ruleset/title'))}}
	</span>

	{{yield (hash subTitle = (component 'edit-ruleset/sub-title'))}}



	<div class="expand-controls" style="flex: 1; display: flex">

		<div style="flex: 1; display: inline-block; margin-right: 5px;">
			<div style="float:right;width: 100%">
				{{yield (hash controls = (component 'edit-ruleset/controls'))}}
			</div>
		</div>
        <div style="float: right; width: 20px; display: inline-block;">
			{{#if collapsed}}
                <i class="fa fa-caret-square-o-right bigger-caret"></i>
			{{else}}
                <i class="fa fa-caret-square-o-down bigger-caret"></i>
			{{/if}}
        </div>

	</div>

</div>
{{#bs-collapse collapsed=collapsed}}
	{{yield (hash collapsable = (component 'edit-ruleset/collapsable'))}}
{{/bs-collapse}}
