
<div>

    <h2>{{title}}</h2>
    <table id="sourcesTable" class="configured-rule-table">
        <tr style="border-bottom: 1px solid grey;">
            <td>{{input placeholder="Name" value=ruleDescriptionFilter}}</td>
            <td>{{input placeholder="Owner" value=ownerFilter}}</td>
            <td></td>
        </tr>

		{{#each model.rules.result as |ruleInstance index|}}
            <tr id="{{concat 'sourceTableRow' index}}">
                <td>{{ruleInstance.description}}</td>
                <td>{{ruleInstance.ownergroup}}</td>
                <td align="right">
					{{#bs-button onClick=(action "deleteRule" ruleInstance model.rules.result)}}
                        Delete
					{{/bs-button}}

					{{#link-to 'editConfiguredRule' ruleInstance.rule_id tagName='button' class='btn btn-default'}}
						Edit
					{{/link-to}}

                </td>
            </tr>
		{{/each}}
    </table>
	{{show-paginator pages=model.rules.meta.totalPages current=page inc=(action 'incPage') dec=(action 'decPage')}}

	{{#bs-button onClick=(action "openNewDialog")}}
        <i class="fa fa-plus"></i>
		{{#bs-tooltip placement="top"}}Add Location{{/bs-tooltip}}
	{{/bs-button}}
</div>

{{add-configured-rule showdialog=showdialog bases=bases type=typeFilter typeTitle=typeTitle}}

{{outlet}}