
<div>

    <h2>{{title}}</h2>
    <table id="sourcesTable" class="configured-rule-table">
        <tr style="border-bottom: 1px solid grey;">
            <td>{{input placeholder="Name" value=ruleFilter}}</td>
            <td>Description</td>
            <td>{{input placeholder="Ruleset Owner" value=runGroupFilter}}</td>
            <td></td>
        </tr>

		{{#each model.rules.result as |ruleInstance index|}}
            <tr id="{{concat 'sourceTableRow' index}}">
                <td>{{ruleInstance.rule_id}}</td>
                <td>{{ruleInstance.description}}</td>
                <td>{{ruleInstance.group}}</td>
                <td align="right">
					{{#bs-button onClick=(action "deleteRule" ruleInstance model.rules.result)}}
                        <i class="fa fa-trash"></i>
						{{#bs-tooltip placement="top"}}Delete ruleset{{/bs-tooltip}}
					{{/bs-button}}

					{{#link-to 'editConfiguredRule' ruleInstance.rule_id tagName='button' class='btn btn-default'}}
						{{#bs-tooltip placement="left"}}Edit Source{{/bs-tooltip}}
                        <i class="fa fa-pencil"></i>
					{{/link-to}}

                </td>
            </tr>
		{{/each}}
    </table>
	{{show-paginator pages=model.rules.meta.totalPages current=page inc=(action 'incPage') dec=(action 'decPage')}}

	{{#bs-button onClick=(action "openNewDialog")}}
        <i class="fa fa-plus"></i>
		{{#bs-tooltip placement="top"}}Add Source{{/bs-tooltip}}
	{{/bs-button}}

</div>

{{#bs-modal open=showdialog onHidden=(action (mut showdialog) false) as |modal|}}
	{{#modal.header}}
        <h4 class="modal-title">
			{{ptarget}}{{dialogtarget}}
        </h4>
	{{/modal.header}}
	{{#modal.body}}
		<div>
			Id
		</div>
		<div>
			{{input name="Id" type="text"  class="form-control"  autofocus="autofocus" value=modaltext}}
		</div>


	{{/modal.body}}
	{{#modal.footer}}
		{{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
		{{#if isclone}}
			{{#bs-button type="success" onClick=(action "cloneRule" dialogruleset)}}{{buttontext}}{{/bs-button}}
		{{else}}
			{{#bs-button type="success" onClick=(action  "addRule")}}{{buttontext}}{{/bs-button}}
		{{/if}}

	{{/modal.footer}}
{{/bs-modal}}

{{outlet}}