<div>
	{{label}}
    <select onchange={{action (mut value) value="target.value"}} disabled={{disabled}}>
		{{#each uiItem.choices as |choice|}}
			{{#if (is-array choice)}}
            	<option value={{choice.[0]}} selected={{eq value choice.[0]}}>{{choice.[1]}}</option>
			{{else if choice.label}}
                <option value={{choice.value}} selected={{eq value choice.value}}>{{choice.label}}</option>
			{{else}}
                <option value={{choice}} selected={{eq value choice}}>{{choice}}</option>
			{{/if}}
		{{/each}}
		{{#unless value}}
		    <option value="" selected=true>Choose</option>
		{{/unless}}

    </select>
	{{#if tooltip}}{{bs-tooltip title=tooltip}}{{/if}}
</div>

{{yield}}
