<div >
	{{#link-to 'rulesets' tagName='button' class='btn btn-success btn-sm btn-return-title'}}
		{{#bs-tooltip placement="left"}}Return to main page{{/bs-tooltip}}
        <i class="fa fa-angle-double-left"></i>
	{{/link-to}}


	<h2>Edit Ruleset {{model.ruleset.filename}}</h2>
	<div class="authDetails">
		<div>Owned by {{ownedBy}}</div>
		<div>Lasted edited on {{lastEdited}} by {{lastEditedBy}}</div>
	</div>


</div>

<div class="ruleset-content" >

	<div class="section-content ruleset-section-content">Description: {{input id="rulesetName" type="text"
		value=model.ruleset.name class="text-input" disabled=disableEdit}}
	</div>

    <div class="section-content ruleset-section-content">Email: {{input id="email" type="text"
		value=model.ruleset.email class="text-input" disabled=disableEdit}}
    </div>

	<div class="section-content ruleset-section-content" id="source">
		<span class="section-header">Source: </span>
		{{#if model.ruleset.source}}
			{{model.ruleset.source.config.file}} in {{model.source.description}}
		{{else}}
			None
		{{/if}}

	</div>

	{{#unless model.source.config.linkedtargetid}}

		<div class="section-content ruleset-section-content" id="target">
			<span class="section-header">Target:</span>
			{{#if model.ruleset.target}}
				{{model.ruleset.target.config.file}} in {{model.target.description}}
			{{else}}
				None
			{{/if}}

		</div>
	{{/unless}}

	{{#if model.ruleset.import}}
        <div class="section-content ruleset-section-content">
            <div class="rule-selectable ruleset-rule-selectable" id="import" {{action "toggleCollapse" "importCollapse"}}>
                <span class="section-header">Importer:</span>
				{{#if model.ruleset.import}}
					{{model.ruleset.import.filename}}
				{{else}}
                    None
				{{/if}}
                <span class="expand-controls">
					{{#if (compute (action "isCollapsed") importCollapse )}}
                        <i class="fa fa-caret-square-o-right bigger-caret"></i>
					{{else}}
                        <i class="fa fa-caret-square-o-down bigger-caret"></i>
					{{/if}}

                </span>
            </div>
			{{#bs-collapse collapsed=importCollapse}}
				{{component 'custom-property.property-list'
				uiList=(compute (action "getUiProperties") model.importers model.ruleset.import.filename)
				config=model.ruleset.import.config
				disabled=disabled
				columns=columns}}
			{{/bs-collapse}}
        </div>
	{{/if}}

	{{#if model.ruleset.export}}
        <div class="section-content ruleset-section-content">
            <div class="rule-selectable ruleset-rule-selectable" id="export" {{action "toggleCollapse" "exportCollapse"}}>
                <span class="section-header">Exporter:</span>
				{{#if model.ruleset.export}}
					{{model.ruleset.export.filename}}
				{{else}}
                    None
				{{/if}}
                <span class="expand-controls">
					{{#if (compute (action "isCollapsed") exportCollapse )}}
                        <i class="fa fa-caret-square-o-right bigger-caret"></i>
					{{else}}
                        <i class="fa fa-caret-square-o-down bigger-caret"></i>
					{{/if}}

                </span>
            </div>
			{{#bs-collapse collapsed=exportCollapse}}
				{{component 'custom-property.property-list'
				uiList=(compute (action "getUiProperties") model.exporters model.ruleset.export.filename)
				config=model.ruleset.export.config
				disabled=disabled
				columns=columns}}
			{{/bs-collapse}}
        </div>
	{{/if}}

	<div class="section-content ruleset-section-content">
		<div class="rule-selectable ruleset-rule-selectable" id="parser" {{action "toggleCollapse" "parserCollapse"}}>
			<span class="section-header">Parser:</span>
			{{#if model.ruleset.parser}}
				{{model.ruleset.parser.filename}}
			{{else}}
				None
			{{/if}}
			<span class="expand-controls">
				{{#if (compute (action "isCollapsed") parserCollapse )}}
					<i class="fa fa-caret-square-o-right bigger-caret"></i>
				{{else}}
					<i class="fa fa-caret-square-o-down bigger-caret"></i>
				{{/if}}

			</span>
		</div>
		{{#bs-collapse collapsed=parserCollapse}}
			{{component 'custom-property.property-list'
			uiList=(compute (action "getUiProperties") model.parsers model.ruleset.parser.filename)
			config=model.ruleset.parser.config
			disabled=disabled
			columns=columns}}
		{{/bs-collapse}}
	</div>



	<div class="section-content ruleset-section-content">

		<div class="rule-selectable ruleset-rule-selectable" id="general" {{action "toggleCollapse" "generalCollapse"}}>
			<span class="section-header">General Configuration</span>
			<span class="expand-controls">
				{{#if (compute (action "isCollapsed") generalCollapse )}}
					<i class="fa fa-caret-square-o-right bigger-caret"></i>
				{{else}}
					<i class="fa fa-caret-square-o-down bigger-caret"></i>
				{{/if}}

			</span>
		</div>
		{{#bs-collapse collapsed=generalCollapse}}
			{{component 'custom-property.property-list'
			uiList=(compute (action "getUiProperties") model.rulesetconfiguis model.ruleset.general.filename)
			config=model.ruleset.general.config
			disabled=disabled
			columns=columns}}
		{{/bs-collapse}}
	</div>



	<div class="section-header">Rules</div>

	{{#each model.ruleset.rules as |ruleInstance index|}}
		<div class="section-content ruleset-section-content">
			<div class="rule-selectable ruleset-rule-selectable" id={{concat 'rule' ruleInstance.config.id}} {{action "toggleCollapse" (concat 'collapseRule' ruleInstance.config.id)}}>
				<span class="rule-header">
					{{ruleInstance.filename}}
					{{#unless (eq ruleInstance.name ruleInstance.filename)}}
						- {{ruleInstance.name}}
					{{/unless}}

				</span>

				<span class="rule-controls">
					{{#unless disableEdit}}


						{{#bs-button onClick=(action "moveRuleUp" model.ruleset index bubbles=false) size='sm'}}
                        	<i class="fa fa-arrow-up"></i>
						{{/bs-button}}

						{{#bs-button onClick=(action "moveRuleDown" model.ruleset index bubbles=false) size='sm'}}
                        	<i class="fa fa-arrow-down"></i>
						{{/bs-button}}

						{{#bs-button onClick=(action "deleteRule" ruleInstance bubbles=false) size='sm'}}
                        	<i class="fa fa-trash"></i>
						{{/bs-button}}

					{{/unless}}
					{{#if (compute (action "isCollapsed") (get this (concat 'collapseRule' ruleInstance.config.id)) )}}
                        <i class="fa fa-caret-square-o-right bigger-caret"></i>
					{{else}}
                        <i class="fa fa-caret-square-o-down bigger-caret"></i>
					{{/if}}

				</span>
			</div>
			{{#bs-collapse collapsed=(get this (concat 'collapseRule' ruleInstance.config.id))}}
                <div>
					Name {{input type="text" value=(mut ruleInstance.name) disabled=disabled}}
                </div>
				{{component 'custom-property.property-list'
					uiList=(compute (action "getUiProperties") model.rules ruleInstance.filename)
					config=(get ruleInstance "config")
					disabled=disabled
					columns=columns
				}}

			{{/bs-collapse}}
		</div>
	{{/each}}
	{{#if showAddRule}}
		<div class="section-content ruleset-section-content">
            <select id="selectRule">
                <option value="None" selected>None</option>
				{{#each model.rules as |rule|}}
                    <option value="{{rule.filename}}">{{rule.name}}</option>
				{{/each}}
            </select>

            <button {{action "hideAddRule"}}>Cancel</button>
            <button {{action "addRule" model.ruleset model.rules}}><i class="fa fa-plus"></i></button>

		</div>
	{{/if}}


	{{#if (not disableEdit)}}

			<button class="show-add-rule" style="float: left" {{action "showAddRule"}}><i class="fa fa-plus"></i>
			</button>

			<button class="save-ruleset" style="float: right" {{action "saveRuleSet" model.ruleset}}>Save RuleSet
			</button>

	{{/if}}
</div>
<div class="fileUpload btn btn-default">
	<span>Test Ruleset</span>
	{{file-upload url="/processupload" ruleset=model.ruleset.filename completion=(action "toggleUpload") status=(action "showProcessing")}}
</div>



{{#if processing}}
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <span>Processing...</span>
{{/if}}
{{#bs-collapse collapsed=collapsedRun}}
	{{outlet}}
{{/bs-collapse}}
