<div >
	{{#link-to 'rulesets' tagName='button' class='btn btn-success btn-sm btn-return-title'}}
		{{#bs-tooltip placement="left"}}Return to main page{{/bs-tooltip}}
        <i class="fa fa-angle-double-left"></i>
	{{/link-to}}


	<h2>Edit Ruleset {{model.ruleset.filename}}</h2>
	<div class="authDetails">
		<div>Owned by {{ownedBy}}</div>
		<div>Lasted edited on {{lastEdited}} by {{lastEditedBy}}</div>
	</div>


</div>

<div class="ruleset-content" >

	<div class="section-content ruleset-section-content">Description: {{input id="rulesetName" type="text"
		value=model.ruleset.name class="text-input" disabled=disableEdit}}
	</div>

    <div class="section-content ruleset-section-content">Email: {{input id="email" type="text"
		value=model.ruleset.email class="text-input" disabled=disableEdit}}
    </div>

	<div class="section-content ruleset-section-content" id="source">
		<span class="section-header">Source: </span>
		{{#if model.ruleset.source}}
			{{model.ruleset.source.config.file}} in {{model.source.description}}
		{{else}}
			None
		{{/if}}

	</div>

	{{#unless model.source.config.linkedtargetid}}

		<div class="section-content ruleset-section-content" id="target">
			<span class="section-header">Target:</span>
			{{#if model.ruleset.target}}
				{{model.ruleset.target.config.file}} in {{model.target.description}}
			{{else}}
				None
			{{/if}}

		</div>
	{{/unless}}

	{{#if model.ruleset.import}}
        {{#edit-ruleset/collapse as |c|}}

			{{#c.title}}
            	Importer:
			{{/c.title}}

			{{#c.subTitle}}
				{{#if model.ruleset.import}}
					{{model.ruleset.import.filename}}
				{{else}}
					None
				{{/if}}
			{{/c.subTitle}}

			{{#c.collapsable}}
				{{component 'custom-property.property-list'
				uiList=(compute (action "getUiProperties") model.importers model.ruleset.import.filename)
				config=model.ruleset.import.config
				disabled=disabled
				columns=columns}}
			{{/c.collapsable}}
		{{/edit-ruleset/collapse}}

	{{/if}}

	{{#if model.ruleset.export}}
        {{#edit-ruleset/collapse as |c|}}

			{{#c.title}}
            	Exporter:
			{{/c.title}}

			{{#c.subTitle}}
				{{#if model.ruleset.export}}
					{{model.ruleset.export.filename}}
				{{else}}
					None
				{{/if}}
			{{/c.subTitle}}

			{{#c.collapsable}}
				{{component 'custom-property.property-list'
				uiList=(compute (action "getUiProperties") model.exporters model.ruleset.export.filename)
				config=model.ruleset.export.config
				disabled=disabled
				columns=columns}}
			{{/c.collapsable}}
		{{/edit-ruleset/collapse}}

	{{/if}}

	{{#edit-ruleset/collapse  as |c|}}

		{{#c.title}}
            Parser:
		{{/c.title}}

		{{#c.subTitle}}
			{{#if model.ruleset.parser}}
				{{model.ruleset.parser.filename}}
			{{else}}
                None
			{{/if}}
		{{/c.subTitle}}

		{{#c.collapsable}}
			{{component 'custom-property.property-list'
			uiList=(compute (action "getUiProperties") model.parsers model.ruleset.parser.filename)
			config=model.ruleset.parser.config
			disabled=disabled
			columns=columns}}
		{{/c.collapsable}}
	{{/edit-ruleset/collapse}}

	{{#edit-ruleset/collapse as |c| }}

		{{#c.title}}
            General Configuration
		{{/c.title}}

		{{#c.collapsable}}
			{{component 'custom-property.property-list'
			uiList=(compute (action "getUiProperties") model.rulesetconfiguis model.ruleset.general.filename)
			config=model.ruleset.general.config
			disabled=disabled
			columns=columns}}
		{{/c.collapsable}}

	{{/edit-ruleset/collapse}}


	<div class="section-header">Rules</div>

	{{#each model.ruleset.rules as |ruleInstance index|}}

		{{#edit-ruleset/collapse as |c| }}
			{{#c.subTitle}}
				<span class="rule-header">
					{{ruleInstance.filename}}
					{{#unless (eq ruleInstance.name ruleInstance.filename)}}
						- {{ruleInstance.name}}
					{{/unless}}

				</span>
			{{/c.subTitle}}

			{{#c.controls}}
				{{#unless disableEdit}}

					{{#bs-button onClick=(action "moveRuleUp" model.ruleset index bubbles=false) size='sm'}}
						<i class="fa fa-arrow-up"></i>
					{{/bs-button}}

					{{#bs-button onClick=(action "moveRuleDown" model.ruleset index bubbles=false) size='sm'}}
						<i class="fa fa-arrow-down"></i>
					{{/bs-button}}

					{{#bs-button onClick=(action "deleteRule" ruleInstance bubbles=false) size='sm'}}
						<i class="fa fa-trash"></i>
					{{/bs-button}}

				{{/unless}}
			{{/c.controls}}

			{{#c.collapsable}}
				<div>
					Name {{input type="text" value=(mut ruleInstance.name) disabled=disabled}}
				</div>
				{{component 'custom-property.property-list'
				uiList=(compute (action "getUiProperties") model.rules ruleInstance.filename)
				config=(get ruleInstance "config")
				disabled=disabled
				columns=columns
				}}
			{{/c.collapsable}}
		{{/edit-ruleset/collapse}}

	{{/each}}
	{{#if showAddRule}}
		<div class="section-content ruleset-section-content">
            <select id="selectRule">
                <option value="None" selected>None</option>
				{{#each model.rules as |rule|}}
                    <option value="{{rule.filename}}">{{rule.name}}</option>
				{{/each}}
            </select>

            <button {{action "hideAddRule"}}>Cancel</button>
            <button {{action "addRule" model.ruleset model.rules}}><i class="fa fa-plus"></i></button>

		</div>
	{{/if}}


	{{#if (not disableEdit)}}

			<button class="show-add-rule" style="float: left" {{action "showAddRule"}}><i class="fa fa-plus"></i>
			</button>

			<button class="save-ruleset" style="float: right" {{action "saveRuleSet" model.ruleset}}>Save RuleSet
			</button>

	{{/if}}
</div>

{{#unless processing}}
	{{#bs-button onClick=(action "testRuleset")}}
        Test Ruleset
	{{/bs-button}}
    <div class="fileUpload btn btn-default">
        <span>Test Ruleset from local file</span>
		{{file-upload url="/processupload" ruleset=model.ruleset.filename completion=(action "toggleUpload") status=(action "showProcessing")}}
    </div>
{{/unless}}

{{#if processing}}
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <span>Processing...</span>
{{/if}}
{{#bs-collapse collapsed=collapsedRun}}
	{{outlet}}
{{/bs-collapse}}
