<div>
  <h2>Edit Ruleset</h2>
  <div>
    <div class="column">
      <div class="section-header">Ruleset</div>
      <div class="section-content"><input id="rulesetName" type="text" value="{{model.ruleset.name}}" class="text-input"/></div>
      <div class="section-header">Rules</div>
      <table id="rulesTable" class="ruleset-table">
        {{#each model.ruleset.rules as |ruleInstance index|}}
          <tr id="{{concat 'rulesetTableRow' index}}" {{action "toggleRowHighlight" (concat 'rulesetTableRow' index) ruleInstance}}>
            <td>{{ruleInstance.name}}</td>
            <td><button {{action "moveRuleUp" model.ruleset index}}><i class="fa fa-arrow-up"></i></button></td>
            <td><button {{action "moveRuleDown" model.ruleset index}}><i class="fa fa-arrow-down"></i></button></td>
          </tr>
        {{/each}}
        {{#if showAddRule}}
          <td>
          <select id="selectRule">
            <option value="None" selected>None</option>
            {{#each model.rules as |rule|}}
              <option value="{{rule.filename}}">{{rule.name}}</option>
            {{/each}}
          </select>
        </td>
          <td><button {{action "hideAddRule"}}>Cancel</button><button {{action "addRule" model.ruleset model.rules}}><i class="fa fa-plus"></i></button></td>
        {{/if}}
      </table>
      <button class="show-add-rule" style="float: left" {{action "showAddRule"}}><i class="fa fa-plus"></i></button>
      <button class="show-add-rule" style="float: left" {{action "deleteRule" "rulesTable" model.ruleset}}><i class="fa fa-trash"></i></button>
      <button class="save-ruleset" style="float: right" {{action "saveRuleSet" model.ruleset}}>Save RuleSet</button>
    </div>
    <div class="column">
      <!-- The column for editting rule properties. -->
      {{show-rule-editor ruleInstance=this.ruleToEdit rules=model.rules ruleset=model.ruleset}}
      <button class="save-ruleset" style="float: right" {{action "updateRule" model.ruleset this.ruleToEdit}}>Apply</button>
    </div>
  </div>
</div>
