{{outlet}}
<div>
    <h2>PLUTO Runs</h2>

    <table id="runsTable" class="runs-table">
      {{#each model.runs as |runInstance index|}}
          <tr id="{{concat 'runsTableRow' index}}">
            <td>{{run-error runInstance.errorcount runInstance.warningcount}}</td>
            <td>{{moment-format runInstance.time 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td>{{runInstance.inputfilename}}</td>
            <td>{{runInstance.ruleset}}</td>
            <td>{{#link-to "run" runInstance.id}}Details{{/link-to}}</td>
          </tr>
      {{/each}}
    </table>

</div>
<div>
  <h2>PLUTO Rulesets</h2>

  <table id="rulesetTable" class="ruleset-table">
    {{#each model.rulesets as |rulesetInstance index|}}
      <tr id="{{concat 'rulesetTableRow' index}}">
        <td>{{rulesetInstance.filename}}</td>
        <td align="right">
          <button {{action "deleteRuleset" rulesetInstance model.rulesets}}><i class="fa fa-trash"></i></button>
          <button {{action "cloneRuleset" rulesetInstance}} disabled><i class="fa fa-clone"></i></button>
          <!-- <button {{action "editRuleset" rulesetInstance}}><i class="fa fa-pencil"></i></button> -->
          {{#link-to 'editRuleset' rulesetInstance tagName='button'}}<i class="fa fa-pencil"></i>{{/link-to}}

        </td>
      </tr>
    {{/each}}
  </table>
  <button {{action "addRuleset" model.rulesets}} disabled><i class="fa fa-plus"></i></button>

</div>