{{outlet}}
<div>
	{{#if applicationController.currentUser.group}}
		{{#link-to 'index' (query-params rulesetGroupFilter=applicationController.currentUser.group) tagName='button' class='btn btn-success btn-sm btn-return-title' }}
			{{#bs-tooltip placement="left"}}Return to main page{{/bs-tooltip}}
            <i class="fa fa-angle-double-left"></i>
		{{/link-to}}
	{{else}}
		{{#link-to 'index' tagName='button' class='btn btn-success btn-sm btn-return-title' }}
			{{#bs-tooltip placement="left"}}Return to main page{{/bs-tooltip}}
            <i class="fa fa-angle-double-left"></i>
		{{/link-to}}
	{{/if}}
	<h2>
		Validation Setups

		{{#if applicationController.currentUser.features.environmentLabel}}
            in {{applicationController.currentUser.features.environmentLabel}}
		{{/if}}

	</h2>
</div>
<div>
    <table id="rulesetTable" class="ruleset-table">
        <tr style="border-bottom: 1px solid grey;">
            <td>{{input placeholder="File" value=fileFilter class="input-cell"}}</td>
            <td>{{input placeholder="Source" value=sourceDescriptionFilter class="input-cell"}}</td>
            <td>{{input placeholder="Owner" value=rulesetGroupFilter class="input-cell"}}</td>
            <td>{{input placeholder="Name" value=rulesetNameFilter class="input-cell"}}</td>

			<td align="center">
				<span class="input-cell">Latest Run Results</span>
			</td>
			<td class="icon-cell"><i class="fa fa-calendar"></i></td>
            <td/>
        </tr>
		{{#each rulesets as |rulesetInstance index|}}
            <tr id="{{concat 'rulesetTableRow' index}}" class="rule-selectable">
                <td class="ellipsis">
					{{rulesetInstance.ruleset.source.config.file}}
					{{#if rulesetInstance.ruleset.source.config.file}}
						{{#bs-tooltip placement="right"}}{{rulesetInstance.ruleset.source.config.file}}{{/bs-tooltip}}
					{{/if}}
				</td>
                <td class="ellipsis">
					{{rulesetInstance.source.description}}
					{{#if rulesetInstance.source.description}}
						{{#bs-tooltip placement="left"}}{{rulesetInstance.source.description}}{{/bs-tooltip}}
					{{/if}}
				</td>
                <td class="ellipsis">
					{{rulesetInstance.ownergroup}}
					{{#if rulesetInstance.ownergroup}}
						{{#bs-tooltip placement="left"}}{{rulesetInstance.ownergroup}}{{/bs-tooltip}}
					{{/if}}
				</td>
                <td class="ellipsis">
					{{rulesetInstance.ruleset.name}}
					{{#if rulesetInstance.ruleset.name}}
						{{#bs-tooltip placement="left"}}{{rulesetInstance.ruleset.name}}{{/bs-tooltip}}
					{{/if}}
				</td>

				<td align="center">

					{{#if rulesetInstance.run}}

						{{#if rulesetInstance.run.failedToStart}}
							<i class="fa fa-exclamation error-color"></i>
						{{else if rulesetInstance.run.processing}}
							<i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
						{{else if rulesetInstance.run.details}}

							{{#link-to "run" rulesetInstance.run.runID}}
								{{#pass-fail-icon runcounts=rulesetInstance.run.details}}{{/pass-fail-icon}}
								{{#error-icon runcounts=rulesetInstance.run.details}}{{/error-icon}}
								Details
							{{/link-to}}


						{{/if}}
					{{/if}}
				</td>

				<td class="icon-cell">

				{{#periodicity-icon ruleset=rulesetInstance runcounts=rulesetInstance.run.details}}
					{{#if rulesetInstance.timestatus}}
						{{#bs-tooltip placement="left"}}{{rulesetInstance.timestatus}}{{/bs-tooltip}}
					{{/if}}
				{{/periodicity-icon}}

				</td>
                <td align="right">
					<div class="btn-group">
						{{#bs-button onClick=(action "runRuleset" rulesetInstance.ruleset) disabled=rulesetInstance.run.processing }}
							Upload
							{{#bs-tooltip placement="top"}}Run validation and upload file{{/bs-tooltip}}
						{{/bs-button}}

						{{#unless applicationController.currentUser.features.allowOnlyRulesetImport}}
							{{#bs-button onClick=(action "setShowAddRuleset" rulesetInstance.ruleset)}}
								Clone
								{{#bs-tooltip placement="top"}}Clone Validation Setup{{/bs-tooltip}}
							{{/bs-button}}
						{{/unless}}

						{{#link-to 'summary' rulesetInstance.filename tagName='button' class='btn btn-default'}}
							{{#bs-tooltip placement="left"}}Run history{{/bs-tooltip}}
							Summary
						{{/link-to}}

						{{#link-to 'editRuleset' rulesetInstance.filename (query-params run=false collapsed=false) tagName='button' class='btn btn-default'}}
							{{#bs-tooltip placement="left"}}Edit Validation Setup{{/bs-tooltip}}
							Edit
						{{/link-to}}
					</div>

                </td>
            </tr>
		{{/each}}
		{{show-paginator pages=model.rulesets.meta.totalPages current=rulePage target='rulePage' inc=(action 'incRulePage') dec=(action 'decRulePage')}}
    </table>

	{{#unless applicationController.currentUser.features.allowOnlyRulesetImport}}
		{{#bs-button onClick=(action "setShowAddRuleset")}}
			Add new file to load
		{{/bs-button}}
	{{/unless}}

</div>

{{add-ruleset showdialog=showAddRuleset parsers=model.parsers ruleset=cloneRuleset source=cloneSource target=cloneTarget parser=cloneParser
defaultSources=model.defaultSources defaultTargets=model.defaultTargets}}