{{outlet}}
<div>
	{{#link-to 'index' tagName='button' class='btn btn-success btn-sm btn-return-title'}}
		{{#bs-tooltip placement="left"}}Return to main page{{/bs-tooltip}}
        <i class="fa fa-angle-double-left"></i>
	{{/link-to}}
</div>
<div>
	<h2>Files</h2>

    <table id="rulesetTable" class="ruleset-table">
        <tr style="border-bottom: 1px solid grey;">
            <td>{{input placeholder="File" value=fileFilter}}</td>
            <td>{{input placeholder="Source" value=sourceDescriptionFilter}}</td>
            <td>{{input placeholder="Owner" value=rulesetGroupFilter}}</td>
            <td>{{input placeholder="Name" value=rulesetNameFilter}}</td>

			<td align="center">
				Latest Run Results
			</td>

            <td/>
        </tr>
		{{#each rulesets as |rulesetInstance index|}}
            <tr id="{{concat 'rulesetTableRow' index}}" class="rule-selectable">
                <td>{{rulesetInstance.ruleset.source.config.file}}</td>
                <td>{{rulesetInstance.source.description}}</td>
                <td>{{rulesetInstance.ownergroup}}</td>
                <td>{{rulesetInstance.ruleset.name}}</td>

				<td align="center">

					{{#if rulesetInstance.run}}

						{{#if rulesetInstance.run.failedToStart}}
							<i class="fa fa-exclamation error-color"></i>
						{{else if rulesetInstance.run.processing}}
							<i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
						{{else}}

							{{#link-to "run" rulesetInstance.run.runID}}
								{{#pass-fail-icon runcounts=rulesetInstance.run.details}}{{/pass-fail-icon}}
								{{#error-icon runcounts=rulesetInstance.run.details}}{{/error-icon}}
								Details
							{{/link-to}}


						{{/if}}
					{{/if}}
				</td>

                <td align="right">

					{{#bs-button onClick=(action "runRuleset" rulesetInstance.ruleset) disabled=rulesetInstance.run.processing }}
						Upload
						{{#bs-tooltip placement="top"}}Run validation and upload file{{/bs-tooltip}}
					{{/bs-button}}

					{{#bs-button onClick=(action "setShowAddRuleset" rulesetInstance.ruleset)}}
						Clone
						{{#bs-tooltip placement="top"}}Clone Validation Setup{{/bs-tooltip}}
					{{/bs-button}}

					{{#link-to 'editRuleset' rulesetInstance.filename (query-params run=false collapsed=false) tagName='button' class='btn btn-default'}}
						{{#bs-tooltip placement="left"}}Edit Validation Setup{{/bs-tooltip}}
						Edit
					{{/link-to}}

                </td>
            </tr>
		{{/each}}
		{{show-paginator pages=model.rulesets.meta.totalPages current=rulePage target='rulePage' inc=(action 'incRulePage') dec=(action 'decRulePage')}}
    </table>

	{{#bs-button onClick=(action "setShowAddRuleset")}}
        Add new file to load
	{{/bs-button}}

</div>

{{add-ruleset showdialog=showAddRuleset parsers=model.parsers ruleset=cloneRuleset source=cloneSource target=cloneTarget parser=cloneParser
defaultSources=model.defaultSources defaultTargets=model.defaultTargets}}