{{outlet}}
<div>
	{{#link-to 'index' tagName='button' class='btn btn-success btn-sm btn-return-title'}}
		{{#bs-tooltip placement="left"}}Return to main page{{/bs-tooltip}}
        <i class="fa fa-angle-double-left"></i>
	{{/link-to}}
</div>
<div>
  {{#if run}}
	<h2>Process A File</h2>
  {{else}}
	<h2>Edit Processing File</h2>
  {{/if}}

  <table id="rulesetTable" class="ruleset-table">
	  <tr style="border-bottom: 1px solid grey;">
		  <td>{{input placeholder="Name" value=rulesetNameFilter}}</td>
          <td>{{input placeholder="Owner" value=rulesetGroupFilter}}</td>
          <td align="center">
          	{{#if run}}
          		Latest Run Results
          	{{/if}}
          </td>
		  <td/>
	  </tr>
    {{#each model.rulesets.result as |rulesetInstance index|}}
      <tr id="{{concat 'rulesetTableRow' index}}" class="rule-selectable">
        <td>{{rulesetInstance.filename}}</td>
        <td>{{rulesetInstance.group}}</td>
        <td align="center">
       		{{#if run}}
        			{{#if (if-in rulesetInstance.filename processing) }}
    					<i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
	 			{{else if (if-in rulesetInstance.filename mixedRuns) }}
					{{#link-to "run" (map-getter runMap rulesetInstance.filename)}}<i class="fa fa-exclamation-triangle warning-and-error-icon"></i> Details{{/link-to}}
				{{else if (if-in rulesetInstance.filename errorRuns) }}
					{{#link-to "run" (map-getter runMap rulesetInstance.filename)}}<i class="fa fa-exclamation-triangle error-icon"></i> Details{{/link-to}}
				{{else if (if-in rulesetInstance.filename warningRuns) }}
					{{#link-to "run" (map-getter runMap rulesetInstance.filename)}}<i class="fa fa-exclamation-triangle warning-icon"></i> Details{{/link-to}}
				{{else if (if-in rulesetInstance.filename goodRuns) }}
					{{#link-to "run" (map-getter runMap rulesetInstance.filename)}}<i class="fa fa-check good-icon"></i> Details{{/link-to}}
				{{/if}}
			{{/if}}
        </td>
        <td align="right">
        		{{#if run}}
				{{#bs-button onClick=(action "runRuleset" rulesetInstance) disabled=(if-in rulesetInstance.filename processing) }}
					<i class="fa fa-play"></i>
					{{#bs-tooltip placement="top"}}Run ruleset{{/bs-tooltip}}
				{{/bs-button}}
			{{else}}
				{{#bs-button onClick=(action "deleteRuleset" rulesetInstance model.rulesets.result)}}
					<i class="fa fa-trash"></i>
					{{#bs-tooltip placement="top"}}Delete ruleset{{/bs-tooltip}}
				{{/bs-button}}

				{{#bs-button onClick=(action "setShowAddRuleset" rulesetInstance)}}
					<i class="fa fa-clone"></i>
					{{#bs-tooltip placement="top"}}Clone ruleset{{/bs-tooltip}}
				{{/bs-button}}
				{{#link-to 'editRuleset' rulesetInstance.filename (query-params run=false collapsed=false) tagName='button' class='btn btn-default'}}
					{{#bs-tooltip placement="left"}}Edit ruleset{{/bs-tooltip}}
					<i class="fa fa-pencil"></i>
				{{/link-to}}
			{{/if}}
        </td>
      </tr>
    {{/each}}
	  {{show-paginator pages=model.rulesets.meta.totalPages current=rulePage target='rulePage' inc=(action 'incRulePage') dec=(action 'decRulePage')}}
  </table>

	{{#bs-button onClick=(action "setShowAddRuleset")}}
		Add new file to process
	{{/bs-button}}

</div>

{{#add-ruleset showdialog=showAddRuleset parsers=model.parsers ruleset=cloneRuleset}}{{/add-ruleset}}