<div>
	<div style="display: flex">
		{{#link-to 'index' tagName='button' class='btn btn-success btn-sm'}}
			{{#bs-tooltip placement="left"}}Return to main page{{/bs-tooltip}}
			<i class="fa fa-angle-double-left"></i>
		{{/link-to}}
		<h2>PLUTO</h2>
	</div>
    <div>
        <div class="column">
            <div class="section-header">Input Filename</div>
            <div class="section-content">{{model.file}}</div>
            <div class="section-header">Ruleset</div>
            <div class="section-content">{{model.ruleset.filename}}</div>
            <div class="section-content">Description: {{model.ruleset.name}}</div>
            <div class="section-header">Parser</div>
            <div class="section-content">{{model.ruleset.parser.name}}</div>
            <div class="section-header">Rules</div>
            <table id="rulesTable" class="ruleset-table">
              {{#each model.ruleset.rules as |ruleInstance index|}}
                  <tr id="{{concat 'rulesetTableRow' index}}" {{action "toggleRowHighlight" (concat 'rulesetTableRow' index) ruleInstance}}
                      class="rule-selectable">
                    {{rule-log-icons rule=ruleInstance log=model.log}}
                      <td>{{ruleInstance.name}}</td>
                  </tr>
              {{/each}}
                <tr id="{{concat 'rulesetTableRow' index}}" {{action "toggleRowHighlight" (concat 'rulesetTableRow' index) "Validator"}}
                    class="rule-selectable">
                  {{rule-log-icons rule="Validator" log=model.log}}
                    <td>Global Errors</td><td/><td/><td/>
                </tr>
            </table>
            {{#link-to 'editRuleset' model.ruleset.filename}}Edit Current Ruleset{{/link-to}}
        </div>
        <div class="column">
            <!-- The column for showing rule errors. -->
            <div class="section-header">Errors:</div>
          {{#if showErrors}}
            {{show-errors rule=this.showErrors log=model.log}}
          {{else}}
            {{show-errors log=model.log}}
          {{/if}}
        </div>
    </div>
</div>

