<div>
	<div class="btn btn-success btn-sm btn-return-title" {{action "back"}}>
		<i class="fa fa-angle-double-left"></i>
	</div>

	<h3>
		{{#if model.ruleset.source}}
			{{model.source.description}} {{model.ruleset.source.config.file}}
		{{else if model.ruleset.importer}}
			{{model.run.inputfilename}} from {{model.ruleset.importer.filename}}
		{{else}}
			{{model.run.inputfilename}}
		{{/if}}

		{{#if passed}}
            <i class="fa fa-thumbs-up good-color"></i>
		{{else if failed}}
            <i class="fa fa-thumbs-down error-color"></i>
		{{/if}}
	</h3>

</div>
<div>
	<h4>{{model.ruleset.name}}</h4>
	<h4>Run ID: {{model.run.id}}</h4>
</div>
<div>
	{{run-details model=model type=type page=page ruleid=ruleid}}
</div>
<div>
	{{#if model.ruleset}}
		{{#if (not model.ruleset.deleted)}}
			{{#link-to 'editRuleset' model.ruleset.filename}}Edit Validation Setup{{/link-to}}
		{{/if}}
	{{/if}}
</div>

{{outlet}}
