<div>
  <h2>PLUTO</h2>
  <div>
    <div class="column">
      <div class="section-header">Filename</div>
      <div class="section-content">{{model.file}}</div>
      <div class="section-header">Process Template</div>
      <div class="section-content"><input id="rulesetName" type="text" value="{{model.ruleset.name}}" class="text-input"/></div>
      <div class="section-header">Sequence</div>
      <table>
        {{#each model.ruleset.rules as |ruleInstance|}}
          <tr>
            {{rule-log-icons rule=ruleInstance log=model.log}}
            <td><input type="checkbox" width="20"/></td>
            <td><button {{action "showErrors" ruleInstance}}>{{ruleInstance.config.Name}}</button></td>
            <td><button {{action "editRule" ruleInstance}}>Edit</button></td>
          </tr>
        {{/each}}
        <tr>
          {{rule-log-icons rule="Validator" log=model.log}}
          <td><input type="checkbox" width="20"/></td>
          <td><button {{action "showErrors" "Validator"}}>Global Errors</button></td>
        </tr>
        {{#if showAddRule}}
          <td/><td/><td/><td/><td>
            <select id="selectRule">
              <option value="None" selected>None</option>
              {{#each model.rules as |rule|}}
                <option value="{{rule.filename}}">{{rule.name}}</option>
              {{/each}}
            </select>
          </td>
          <td><button {{action "hideAddRule"}}>Cancel</button><button {{action "addRule" model.ruleset model.rules}}>Add</button></td>
        {{/if}}
      </table>
      <button class="show-add-rule" style="float: left" {{action "showAddRule"}}>+</button>
      <button class="save-ruleset" style="float: right" {{action "saveRuleSet" model.ruleset}}>Save RuleSet</button>
    </div>
    <div class="column">
      <!-- The column for editting rule properties. -->
      {{show-rule-editor ruleInstance=this.ruleToEdit}}
      <button class="save-ruleset" style="float: right" {{action "updateRule" model.ruleset this.ruleToEdit}}>Apply</button>
    </div>
    <div class="column">
      <!-- The column for showing rule errors. -->
      <div class="section-header">Errors:</div>
        {{#if showErrors}}
          {{show-errors rule=this.showErrors log=model.log}}
        {{/if}}
    </div>
  </div>
</div>
