<div>
  <h2>PLUTO</h2>
  <div>
    <div class="column">
      <div style="padding: 3px 3px 0px 3px;">Filename</div>
      <div style="border:1px solid black;margin:5px 5px 5px 5px;padding: 3px 3px 3px 3px;">{{model.file}}</div>
      <div style="padding: 3px 3px 0px 3px;">Process Template</div>
      <div style="border:1px solid black;margin:5px 5px 5px 5px;padding: 3px 3px 3px 3px;">{{model.ruleset.name}}</div>
      <div style="padding: 3px 3px 0px 3px;">Sequence</div>
      <table>
        {{#each model.ruleset.rules as |rule|}}
          <tr>
            {{rule-log-icons rule=rule log=model.log}}
            <td><input type="checkbox" width="20"/></td>
            <td><button {{action "showErrors" rule}}>{{rule.name}}</button></td>
          </tr>
        {{/each}}
        <tr>
          {{rule-log-icons rule="Validator" log=model.log}}
          <td><input type="checkbox" width="20"/></td>
          <td><button {{action "showErrors" "Validator"}}>Global Errors</button></td>
        </tr>
      </table>
    </div>
    <div class="column">
      <div>Errors:
        {{#if showErrors}}
          {{show-errors rule=this.showErrors log=model.log}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
