<div>
  <h2>PLUTO</h2>
  <div>
    <div class="column">
      <div class="section-header">Filename</div>
      <div class="section-content">{{model.file}}</div>
      <div class="section-header">Process Template</div>
      <div class="section-content">{{model.ruleset.name}}</div>
      <div class="section-header">Sequence</div>
      <table>
        {{#each model.ruleset.rules as |rule|}}
          <tr>
            {{rule-log-icons rule=rule log=model.log}}
            <td><input type="checkbox" width="20"/></td>
            <td><button {{action "showErrors" rule}}>{{rule.name}}</button></td>
          </tr>
        {{/each}}
        <tr>
          {{rule-log-icons rule="Validator" log=model.log}}
          <td><input type="checkbox" width="20"/></td>
          <td><button {{action "showErrors" "Validator"}}>Global Errors</button></td>
        </tr>
      </table>
    </div>
    <div class="column">
      <div class="section-header">Errors:</div>
        {{#if showErrors}}
          {{show-errors rule=this.showErrors log=model.log}}
        {{/if}}
    </div>
  </div>
</div>
