<div>
  <div></div>
  <h2>PLUTO</h2>
  Data File: <i>{{model.file}}</i><br/>
  Ruleset: <i>{{model.ruleset.name}}</i><br/>
  <table>
    {{#each model.ruleset.rules as |rule|}}
      <tr>
       {{rule-log-icons rule=rule log=model.log}}<td>{{rule.name}}</td>
      </tr>
    {{/each}}
    <tr>
      {{rule-log-icons rule="Validator" log=model.log}}<td>Global Errors</td>
    </tr>
  </table>
</div>

